<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de stock</title>
    <link rel="stylesheet" href="{% static 'inventory/css/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5">
    <h2 class="text-center alert alert-danger">Fonction CRUD Basée sur la gestion de stock </h2>
    {% block content%} {% endblock content%}
    </div>
    <script src="{% static 'inventory/js/jquery.js' %}"></script>
    <script src="{% static 'inventory/js/bootstrap.js' %}"></script>
    <script src="{% static 'inventory/js/popper.js' %}"></script>
</body>
</html>
